body{
    font-family: sans-serif;
    width: 100vw;
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.navbar{
    box-shadow: 0 2px 8px 0 rgba(178, 177, 177, 0.997);
    margin-bottom: 5px;
}
.brand{
    color: rgb(196,40,29);
    font-weight: 700;
    margin-left:-30px;
    margin-right:30px;
}
.search{
    border-radius: 5px;
    width: 50%;
    padding-left: "5px"
}
.iconsDiv{
    display:flex;
    justify-content: space-evenly;
    width: 40%;
    margin-right: 10%;
}
.searchBar{
    width: 100vw;
    height: auto;
}
.carouselImg{
    height: 400px;
    width: 100vw;
}
.asideLineItem{
    display: inline-flex;
    font-size: 1.2rem;
    list-style: none;
    text-underline-position: below;
    color: rgb(196,40,29);
}
.contentDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.filter{
    display: flex;
    width: 100vw;
    max-height: 200px;
    padding: 3%;
    box-sizing: border-box;
    box-shadow: 3.5px 0px 3px 4px rgb(196,40,29);
    margin-right: 3%;
    top:2px;
    .filterLineItem{
        display: inline-flex;
        font-size: 1.2rem;
        list-style: none;
        text-underline-position: below;
        color: rgb(196,40,29);
    }
}
.filterItems{
    display: flex;
    justify-content: space-around;
}
.filterIcon{
    width: 60px;
    height: 60px;
}
.filterSection{
    width: 100vw;
    padding: 0% 10;
}
.products{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3%;
}
.icons{
    width: 20px;
    height: 20px;
}
.fastIcons{
    width: 40px;
    height: 40px;
}
.cardsDiv{
     width:13rem;
      margin: 3%;
      margin-top: 1%;
      max-height: 55vh;
}
.cardImage{
    max-height:180px;
     max-width:100%
}
/* SignIN page */
.signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}
.link{
    text-decoration: none;
    color:gray;
    margin-left: 10px;
}
.formDiv{
    height: auto;
    width: 30%;
    min-width:250px;
    background-color: #fff;
    box-shadow: 0 40px 80px -40px #000;
    border-radius: 14px;
    padding-top: 1%;
    min-height: 250px;
    color:#000;
  }
  .formInput{
    width: 80%;
    height: 30px;
    border-radius: 15px;
    margin: 10px 0px;
    padding-left: 15px;
    outline: none;
    border: .5px solid gray;
    margin-left: 10%;
  }
  .form{
    padding: 10px;
    padding-top: 20px;
  }
  .submitButton{
  background-color:rgb(238,116,30);
  border:none;
  border-radius:3px;
  margin-top:5%;
  width: 80%;
  height: 30px;
  margin-left: 10%;
  color:#fff;
  margin-bottom: 30px;
}
.cartHeader{
    text-align: center;
    color: rgb(255,183,79);
    margin-top: 10%;
}
.cartDiv{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    justify-content: center;
    align-items: center;
}
.noItem{
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-top: 20%;
    margin-left: 25%;
}
.orderButton{
    text-align: center;
    height: 40px;
    width: 20%;
    background-color: rgb(255,154,0);
    color: #fff;
    outline: none;
    border: none;
}
.orderDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.orders{
    display: flex;
    height: auto;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.orderTable{
    padding: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247,247,247);
    width: 50%;
    height: auto;
    text-align:center;
    margin-top:2rem
}
th{
    border-bottom: 2px solid ;
    padding-bottom: 5px;
}
.td, td{
    border:2px solid #fff !important;
}

.table{
    width: 90%;
    margin-top: 35px;
}
.outerCardDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.googleButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    background-color: #fff; /* Google Blue */
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    border: 2px solid black;
    margin-left: 28%;
    margin-bottom: 20px;
  }
  
  .googleButton:hover {
    background-color: #5894f4; /* Slightly darker shade */
    color: #fff;
  }
  
  .googleIcon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .text {
    font-weight: bold;
  }



/* media quiries  */

@media screen and (max-width:1000px) {
    .search{
        display: none;
    }
    .iconsDiv{
        width: 100vw;
        font-size: small;
        flex-direction: column;
        margin-top: 5px;
    }
    .brand{
        margin-right: 0;
        margin-left: 0;
    }
    .link{
        margin-top: 18px;
    }
    .icons{
        width: 20px;
        height: 20px;
    }
    .filter{
        display: none;
    }
    .products{
        width: 100%;
        font-size: smaller;
    }
    .cardsDiv{
        width: 40%;
        height: auto;
        margin: 5%;
    }
    .cardImage{
        width: 80%;
        height: 100px;
        margin-left: 10%;
    }
    .carouselImg{
        height: 150px !important;
        width: 100vw !important;
    }
    .outerCardDiv{
        display: flex;
        width: 100vw;
        height: auto;
        padding: 0;
        flex-wrap: wrap;
    }
    .cardText{
        font-size: x-small;
        margin-top: -8px !important;
    }
    .cardTextTitle{
        font-size: small !important;
        margin-top: 5px !important;
        font-weight: 500px;
    }
    .cardButton{
        font-size: xx-small;
        margin-top: -10px;
    }
    .cartDiv{
        display: flex;
        width: 100vw;
    }
    .orderButton{
        width: 60vw;
    }
    .orderTable{
        width: 90vw;
    }
    .googleButton{
        font-size: x-small;
        width: 80%;
        margin-left: 10%;
        margin-top: 0px;
    }
    .submitButton{
        margin-bottom: 20px;
    }
}